<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpCompression>
            <dynamicTypes>
                <clear />
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/x-javascript"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="false" mimeType="*/*"/>
                <add enabled="true" mimeType="application/atom+xml"/>
                <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
            </dynamicTypes>
            <staticTypes>
                <clear />
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/atom+xml"/>
                <add enabled="true" mimeType="application/xaml+xml"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="false" mimeType="*/*"/>
            </staticTypes>
        </httpCompression>   
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
            <mimeMap fileExtension="woff2" mimeType="application/font-woff"/>
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
        </staticContent>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="app.php"/>
                <add value="index.php"/>
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^[^www]"/>
                        <add input="{HTTPS}" pattern="off"/>
                    </conditions>
                    <action type="Redirect" url="https://www.medeconsult.com/{R:1}" appendQueryString="true" redirectType="Permanent"/>
                </rule>
                <rule name="RewriteRequestsToAdminCalidadSitio" stopProcessing="true">
                    <match url="^((calsitio\/wp-admin))$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="calsitio/wp-admin/index.php/{R:0}"/>
                </rule>
                <rule name="RewriteRequestsToPublicCalidadSitio" stopProcessing="true">
                    <match url="^((calsitio\/)|(calsitio))$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="calsitio/index.php/{R:0}"/>
                </rule>
                <rule name="RewriteRequestsToPublicCalidad" stopProcessing="true">
                    <match url="^((calidad\/)|(calidad))$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="calidad/web/app.php/{R:0}"/>
                </rule>
                <rule name="blockAccessToPublicCalidad" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="^(calidad\/).*$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/calidad/web/*"/>
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied."/>
                </rule>
                <rule name="RewriteAssetsToPublicCalidad" stopProcessing="true">
                    <match url="^((calidad\/).*)(\.css|\.js|\.jpg|\.jpeg|\.woff|\.woff2|\.min|\.ttf|\.png|\.gif)$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="calidad/web/{R:0}"/>
                </rule>
                <rule name="RewriteRequestsToPublicResponsive" stopProcessing="true">
                    <match url="^((consultas-medicas\/)|(consultas-medicas))$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="consultas-medicas/web/app.php/{R:0}"/>
                </rule>
                <rule name="blockAccessToPublicResponsive" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="^(consultas-medicas\/).*$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/consultas-medicas/web/*"/>
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied."/>
                </rule>
                <rule name="RewriteAssetsToPublicResponsive" stopProcessing="true">
                    <match url="^((consultas-medicas\/).*)(\.css|\.js|\.jpg|\.jpeg|\.woff|\.woff2|\.min|\.ttf|\.png|\.gif|\.ico)$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="consultas-medicas/web/{R:0}"/>
                </rule>
                <rule name="RewriteRequestsToPublicTemplate" stopProcessing="true">
                    <match url="^((template\/)|(template))$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="template/{R:0}"/>
                </rule>
                <rule name="blockAccessToPublicTemplate" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="^(template\/).*$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/template/*"/>
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied."/>
                </rule>
                <rule name="RewriteAssetsToPublicTemplate" stopProcessing="true">
                    <match url="^((template\/).*)(\.css|\.js|\.jpg|\.jpeg|\.woff|\.woff2|\.min|\.ttf|\.png|\.gif)$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="template/{R:0}"/>
                </rule>
                <rule name="RewriteRequestsToPublicSitio" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="^(?!(calsitio)\/).*$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}"/>
                </rule>
                <rule name="WordPress: http://www.medeconsult.com" patternSyntax="Wildcard">
                    <match url="*"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.php"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>